* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baumans", system-ui;
    color: white;
}

header, footer {
    background-color: rgb(27, 19, 69);
    padding: 1%;
}

header h1{
    font-size: 200%;
}

footer a, header a{
    text-decoration: none;
    color: #ffff;
    cursor: pointer;
}

nav ul li { 
    list-style: none;
    font-size: 120%;
}


.activo {
    text-decoration: underline;
    text-shadow: 3px 3px 3px #76baff ;
}

main {
    background-color: rgb(11, 0, 32);
    text-align: center;
    padding-bottom: 2%;
}


section, figure, div, article {
    padding-top: 2%;
}


figure img {
    width: 20%;
    border-radius: 20px;
}

