* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baumans';
    color: white;
}


body{
    background-color: rgb(0, 47, 78);
}


#inicio {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 12vh 75vh 15vh;
    grid-template-areas: 
        "nombre nombre nav nav"
        ". titulo titulo ."
        ". botones botones .";
    background-image: url(/img/fondo_inicio.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}

#otros {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 12vh 75vh 15vh;
    grid-template-areas: 
        "nombre nombre nav nav"
        ". titulo titulo ."
        ". . . .";
    background-image: url(/img/fondo_otros.webp);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

header div,
header nav {
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    padding: 1% 0% 2% 2%;   
    font-size: 120%;
}

header div{
    grid-area: nombre;
    
}

header nav {
    grid-area: nav;
    justify-content: center;
    padding: 2vw 10.6vw;
    justify-self: center;
    display: flex;
    gap: 8vw;
    
}

header nav a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

header section{
    grid-area: botones;
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 4vw;
}

#otros .titulo, #inicio .titulo {
    grid-area: titulo;
    justify-self: center;
    padding-top: 15%;
    align-self: start;
    font-size: 200%;
}

#titulo-excepcion-bootstrap {
    font-family: 'Baumans';
    font-size: 200%;
}

header section button {
    text-wrap: nowrap;
    font-size: 180%;
    border-style: none;
    padding: 3%;
    cursor: pointer;
    border-radius: 8%;
    background-color: rgba(0, 48, 85, 0.651);
}



/*--------------------------------------*/



.main-inicio{
    display: grid;
    grid-template-columns: 17vw 20vw 17vw 20vw;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "sobre-mi sobre-mi sobre-mi estudios"
        "herramientas herramientas habilidades habilidades";
    gap: 4vw;
    padding: 6vw;
    background-color: white;
    color: black;
}


.sobre-mi {
    grid-area: sobre-mi;
}

.estudios {
    grid-area: estudios;
}

.herramientas {
    grid-area: herramientas;
}

.habilidades {
    grid-area: habilidades;
}

.main-inicio section{
    background-color: rgba(0, 47, 78, 0.08);
    border-radius: 1vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.main-inicio section h2{
    font-size: 200%;
    color: rgb(0, 47, 78);
}

.main-inicio section p,
.main-inicio section li{
    font-size: 120%;
    color: rgb(0, 47, 78);
}

.main-inicio section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.main-inicio section button{
    align-self: center;
    margin-top: 2vw;
    font-size: 130%;
    padding: 0.8vw 2vw;
    border-radius: 0.8vw;
    border: none;
    background-color: rgb(0, 47, 78);
    color: white;
    cursor: pointer;
}

.sobre-mi {
    background-color: rgba(240, 248, 255, 0);
}

.carousel-inner{
    height: 55vh;
}

.carousel-item{
    height: 100%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: rgb(0, 47, 78);
}


footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4vw;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    align-items: center;
    gap: 3vw;
}

footer #linkedin {
    background-image: url(../img/linkedin.webp);
    background-size: 95%;
}

footer #fiverr {
    background-image: url(../img/fiverr.webp);
    background-size: 100%;
}

footer #pinterest {
    background-image: url(../img/pinterest.webp);
    background-size: 100%;
}

footer section{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: center;
}

footer section:nth-child(1){
    align-items: flex-start;
    font-size: 110%;
}

footer section:nth-child(2){
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}

footer section:nth-child(2) button{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: none;
    background-color: rgba(255,255,255,0.4);
    cursor: pointer;
}

footer section:nth-child(3){
    align-items: flex-end;
}

footer section a{
    text-decoration: none;
    font-size: 110%;
    cursor: pointer;
}







/*VISTA PARA TABLET*/
@media (max-width: 1024px) {
    #inicio, #otros{
        background-size: 350%;
        grid-template-rows: 9vh 75vh 17vh;
    }

    header nav {
        font-size: 150%;
    }

    header section button {
        font-size: 240%;
    }


    .main-inicio{
        grid-template-columns: 96vw ;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "sobre-mi"
            "estudios"
            "herramientas"
            "habilidades";
        text-align: center;
    }

    footer{
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer section{
        align-items: center !important;
    }

    footer section:nth-child(2){
        justify-content: center;
    }
}



/*VISTA PARA CELULAR*/
@media (max-width: 600px) {
    #inicio, #otros{
        background-size: 450%;
        grid-template-rows: 11vh 90vh 27vh;
        grid-template-columns: 25vw 35vw 35vw 20.8vw;
    }

    header nav {
        font-size: 130%;
        padding: 8% 3% 2% 0%;
    }

    header div{
        font-size: 70%;
    }

    header section button {
        font-size: 180%;
    }

    .main-inicio{
        grid-template-columns: 110vw;
        gap: 6vw;
    }

    .main-inicio section{
        padding: 6vw;
    }

    .main-inicio section h2{
        font-size: 170%;
    }

    .main-inicio section p,
    .main-inicio section li{
        font-size: 115%;
    }

    footer{
        padding: 6vw 4vw;
        gap: 4vw;
    }

    footer section:nth-child(2) button{
        width: 10vw;
        height: 10vw;
    }
}
