* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baumans';
    color: white;
}

body{
    background-color: rgb(0, 47, 78);
}


#inicio {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 12vh 75vh 15vh;
    grid-template-areas: 
        "nombre nombre nav nav"
        ". titulo titulo ."
        ". botones botones .";
    background-image: url(/img/fondo_inicio.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}

#otros {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 12vh 75vh 15vh;
    grid-template-areas: 
        "nombre nombre nav nav"
        ". titulo titulo ."
        ". . . .";
    background-image: url(/img/fondo_otros.webp);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

header div,
header nav {
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    padding: 1% 0% 2% 2%;   
    font-size: 120%;
}

header div{
    grid-area: nombre;
    
}

header nav {
    grid-area: nav;
    justify-content: center;
    padding: 2vw 10.6vw;
    justify-self: center;
    display: flex;
    gap: 8vw;
    
}

header nav a{
    text-decoration: none;
    cursor: pointer;
}

header section{
    grid-area: botones;
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 4vw;
}

#otros section, #inicio .titulo {
    grid-area: titulo;
    justify-self: center;
    padding-top: 15%;
    align-self: start;
    font-size: 200%;
}

header section button {
    text-wrap: nowrap;
    font-size: 180%;
    border-style: none;
    padding: 3%;
    cursor: pointer;
    border-radius: 8%;
    background-color: rgba(0, 48, 85, 0.651);
}


/*VISTA PARA TABLET*/
@media (max-width: 1024px) {
    #inicio, #otros{
        background-size: 350%;
        grid-template-rows: 9vh 75vh 17vh;
    }

    header nav {
        font-size: 150%;
    }

    header section button {
        font-size: 240%;
    }
}


/*VISTA PARA CELULAR*/
@media (max-width: 600px) {
    #inicio, #otros{
        background-size: 400%;
        grid-template-rows: 11vh 90vh 27vh;
        grid-template-columns: 25vw 35vw 35vw 20.8vw;
    }

    header nav {
        font-size: 130%;
        padding: 8% 3% 2% 0%;
    }

    header div{
        font-size: 70%;
    }

    header section button {
        font-size: 180%;
    }
}
