* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baumans';
    color: white;
}

body{
    background-color: rgb(0, 47, 78);
}


#inicio {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 12vh 75vh 15vh;
    grid-template-areas: 
        "nombre nombre nav nav"
        ". titulo titulo ."
        ". botones botones .";
    background-image: url(/img/fondo_inicio.webp);
}

#otros {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 12vh 75vh 15vh;
    grid-template-areas: 
        "nombre nombre nav nav"
        ". titulo titulo ."
        ". . . .";
}

header div,
header nav {
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    padding: 1% 0% 2% 2%;   
}

header div{
    grid-area: nombre;
    font-size: 120%;
}

header nav {
    grid-area: nav;
    justify-content: center;
    padding: 2vw 10.1vw;
    justify-self: center;
    display: flex;
    gap: 8vw;
    
}

header nav a{
    font-size: 130%;
    text-decoration: none;
    cursor: pointer;
}

header section{
    grid-area: botones;
    justify-self: center;
    align-self: center;
    display: flex;
    gap: 4vw;
}

#otros section, #inicio .titulo {
    grid-area: titulo;
    justify-self: center;
    padding-top: 15%;
    align-self: start;
    font-size: 200%;
}

header section button {
    text-wrap: nowrap;
    font-size: 180%;
    border-style: none;
    padding: 3%;
    cursor: pointer;
    border-radius: 8%;
    background-color: rgba(0, 48, 85, 0.651);
}
